<div class="fixed-top pt-5">
  <%= link_to "revenir", root_path, class: "btn btn-primary mt-2 mb-2" %>
</div>

<div class="container">
  <h1>Nos Bouchtrous disponibles</h1>
    <div class="index-grid">
      <% @bouchtroues.each do |bouchtroue| %>
        <% if bouchtroue.user.email != current_user.email %>
          <div class="card">
            <div class="d-flex justify-content-center align-items-center img-fluid w-auto h-auto">
              <%= cl_image_tag bouchtroue.photo.key, width: 180,lenght: 190, class: "pdpd" %>
            </div>
            <div class="card-info">
              <p class="text-title m-1"><%= bouchtroue.name_profile %></p>
              <p class= "m-1">Rating 8.5</p>
              <p class="text-body m-1">Spécialité : <%= bouchtroue.specialty %></p>
              <% if bouchtroue.status == "libre" %>
                <%= link_to "en savoir plus", bouchtroue_path(bouchtroue), class: "btn-grad" %>
              <% elsif bouchtroue.status == "occupe" %>
                <%= link_to "en savoir plus", bouchtroue_path(bouchtroue), class: "btn-grad" %>
              <% else %>
                <%= link_to "en savoir plus", bouchtroue_path(bouchtroue), class: "btn-grad" %>
              <% end %>
            <div class="card-footer d-flex justify-content-end">
              <span class="text-title"><%= bouchtroue.hour_price %> € ttc</span>

            </div>
          </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>
