<h1 class = "container">Nos Bouchtrous disponibles</h1>
<ul class = "list-group container ">
  <div>
    <% @bouchtroues.each do |bouchtroue| %>
      <% if bouchtroue.user.email != current_user.email %>
        <li class="list-group-item">
          <%= bouchtroue.name_profile%> :
          <%= bouchtroue.specialty %> je viens de
          <%= bouchtroue.location %> est pour me décrire :
          <%= bouchtroue.description %>
        </li>
        <li class="list-group-item">
          <%= bouchtroue.user.email %>
        </li>
        <%= link_to "en savoir plus", bouchtroue_path(bouchtroue), class: "btn btn-primary mt-2 mb-2" %>
        <% else %>
        <% end %>
    <% end %>
  </div>
</ul>

<%= link_to "revenir", root_path, class: "btn btn-primary mt-2 mb-2" %>
