<h1>Mon profil : <%= @bouchtroue.name_profile %></h1>
<p>Spécialité : <%= @bouchtroue.specialty %></p>
<p>Description : <%= @bouchtroue.description %></p>
<p>status : <%= @bouchtroue.status %></p>
<p>dispo du : <%= @bouchtroue.available_start %></p>
<p>au : <%= @bouchtroue.available_end %></p>
<p>prix : <%= @bouchtroue.hour_price %> € / heure</p>
<p>zone : <%= @bouchtroue.location %></p>
