<div class="container">
  <div class="d-flex justify-content-center">
  <h1>Si tu n'as pas d'amis, tu es au bon endroit !</h1>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-6">
      <br>
      <%= link_to "Trouver un bouchtrou", bouchtroues_path, class: "btn", id: "trouver-btn" %>
      <%= link_to "Ajouter un bouchtrou", new_bouchtroue_path, class: "btn", id: "ajouter-btn" %>
    </div>
  </div>


  <div id="my-profile" class ="mt-5">
  <h2>Mes profils</h2>
  <%= current_user.email %>
    <div class="row">
      <% @bouchtroues.each do |bouchtroue| %>
        <% if bouchtroue.user.email == current_user.email %>
          <div class = "d-flex justify-content-around col-4">
            <div class="container py-2 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                  <div class="card w-100 h-100" style="border-radius: 15px;">
                    <div class="card-body p-4">

                      <div class="d-flex text-black">
                        <div class="flex-shrink-0">
                          <%= cl_image_tag bouchtroue.photo.key, width: 180, crop: :fill %>
                        </div>

                        <div class="flex-grow-1 ms-3">
                          <h5 class="mb-1"><%= bouchtroue.name_profile %></h5>
                          <p class="mb-2 pb-1" style="color: #2b2a2a;"><%= bouchtroue.specialty %></p>
                          <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                            style="">
                            <div>
                            <% if bouchtroue.status != "occupe" %>
                              <h5>Disponibilités</h5>
                              <p class="small text-muted mb-1"><%= bouchtroue.available_start %></p>
                              <p class="small text-muted mb-1"><%= bouchtroue.available_end %></p>
                              <p>Sur : <%= bouchtroue.location %></p>
                            <% else %>
                              <h5>Indisponible</h5>
                              <p> Le profil se mettra a jour automatiquement</p>
                              <p> </p>
                              <p> </p>
                            <% end %>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="d-flex pt-1">
                      <%= link_to "Profil", bouchtroue_path(bouchtroue), class: "btn me-1 flex-grow-1" %>
                      <%= link_to "Modifier", edit_bouchtroue_path(bouchtroue), class: "btn me-1 flex-grow-1" %>
                      <%# attention modif bug %>
                      <%= link_to "Suppr", bouchtroue_path(bouchtroue), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn flex-grow-1" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
        <% end %>
      <% end %>
    </div>
  </div>


<%# if booking.user.email == current_user.email or %>
<%# @bouchtrou.user.email %>

  <div id="my-profile" class ="mt-5">
    <h2>Mes reservations</h2>
    <%= current_user.email %>
  </div>



<div class="row">
  <% @bookings.each do |booking| %>
    <% if booking.user.email == current_user.email || current_user.id == booking.bouchtroue.user_id %>
        <div class = "my-2 ml-0 d-flex justify-content-around col-4">
          <div class="card w-100 h-100" style="border-radius: 15px;">
            <div class="card-body">
              <div class="col">
                  <h5><%= booking.name %></h5>
                    <p>Description : <%= booking.description %></p>
                    <p>Date : <%= booking.date_start %></p>
                    <p>Lieu : <%= booking.location %></p>
                    <p>Pour une durée de <%= booking.event_time %> h</p>
              </div>
            </div>
            <div class="d-flex pt-1">
              <%= link_to "Modifier", edit_booking_path(booking), class: "btn me-1 flex-grow-1" %>
              <%# attention modif bug %>
              <%= link_to "Suppr", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn flex-grow-1" %>
            </div>
          </div>
        </div>
    <% else %>
    <% end %>
  <% end %>
</div>
